body{
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
#ol2{
    float: right;
    position: absolute;
    right: 25%;
    
}
.commonmainbody{
    float: left;
    position: absolute;
    left: 25%;
        
}

.tutorial{
    text-align: left;
    margin-left: 10%;
}
img{
    float:right;
    margin-right: 15%
}
.lists{
    text-align: center;
}

.study{
    float: left;
    position: absolute;
    left: 10%;
}

.japan{
    float: right;
   position: absolute;
   right: -4%;
}
.common{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.header{
    height: 100px;
    background-color: #001233;
    line-height: 100px;
    color: #CAC0B3;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background-color: #CAC0B3;
    padding: 10px;
    overflow: hidden;
}
nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

}
nav a:hover{
    background-color: #beb5aa;
}

.tableauPlaceholder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button{
    float: right;
    margin-right: 3%;
}